<div class="row">
    <div class="col-3 p-2" *ngFor="let user of users">
        <div class="card shadow p-2" >
            
            
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <img [src]="user.avatar" alt="" class="card-img-top rounded-circle w-75 shadow">
                </div>
                <h5 class="card-title text-center mt-4">{{user.first_name}} {{user.last_name}}</h5>
                <div class="mt-4 justify-content-end d-flex">
                    <p class="text-muted">ID: {{user.id}}</p>
                </div>
            </div>
            
        </div>
    </div>
    
</div>